apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: job-board

resources:
  - ../../base

images:
  - name: backend-placeholder
    newName: 180048382895.dkr.ecr.eu-west-2.amazonaws.com/job-board-backend
    newTag: initial
  - name: frontend-placeholder
    newName: 180048382895.dkr.ecr.eu-west-2.amazonaws.com/job-board-frontend
    newTag: initial

patches:
  - path: replica-patch.yaml
  - path: resource-patch.yaml
