apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: job-board-staging
resources:
  - ../../base
images:
  - name: backend-placeholder
    newName: 180048382895.dkr.ecr.eu-west-2.amazonaws.com/job-board-backend
    newTag: staging-8d6563c
  - name: frontend-placeholder
    newName: 180048382895.dkr.ecr.eu-west-2.amazonaws.com/job-board-frontend
    newTag: staging-8d6563c
configMapGenerator:
  - name: app-config
    behavior: merge
    literals:
      - ENVIRONMENT=staging
      - LOG_LEVEL=info
      - NODE_ENV=production
commonAnnotations:
  environment: staging
  managed-by: argocd
labels:
  - includeSelectors: true
    pairs:
      environment: staging
patches:
  - path: replica-patch.yaml
  - path: resource-patch.yaml
